*{
  margin:0px;
  padding:0px;
}
.navbar-toggler:focus{
  outline:none;
}
.nav-link{
  color:white;
}
.nav-link:hover{
  color:#4CA1A2;
  border-right:1px solid #4CA1A2
}
.soc_1{
  position:absolute;
  position:fixed;
  margin-top:200px;

}
.soc_1 ul{
  text-decoration: none;
  margin:0px;
  padding: 0px;
  width:60px;
  text-align: center;
}
.soc_1 ul li {
  list-style-type: none;
  padding: 10px;
}
.soc_1 ul li a{
  color:white;
}

.soc_1 ul li:hover{
  width:80px;
  transition:2s;
}




.soc_2{
  position:absolute;
  position:fixed;
  margin-top:200px;
 display: none;
 bottom: 0;
 width:100%;
}
.soc_2 ul{
  text-decoration: none;
  margin:0px;
  padding: 0px;
  width:60px;
  text-align: center;
  display:flex;
  width:100%;
}
.soc_2 ul li {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}
.soc_2 ul li a{
  color:white;
}

.soc_2 ul li:hover{
  width:80px;
  transition:2s;
}
.section_1{
  height:auto ;
  overflow:hidden;

  position:absolute;
  width:100%;
  padding: 10px;
  margin-top: 100px;


}
.sec_1{
  height:400px;

}
.sec_1_1{
  background-image: url("latexvarpet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin:auto;
  width:280px;
  height:300px;
  margin-top: 50px;
 border:1px solid #555;

}


.sec_1_2{
  background-image: url("qarvarpet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  margin:auto;
  width:280px;
  height:300px;
  margin-top: 50px;
 border:1px solid #555;
}

.sec_1_3{
  background-image: url("kaxvarpet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  margin:auto;
  width:280px;
  height:300px;
  margin-top: 50px;
 border:1px solid #555;
}
@keyframes kaxtev {

  0% {margin-top:23px;}
  50% {margin-top:25px;}
  100% {margin-top:27px;}
}





@keyframes us {

  0% {transform: rotate(0deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(2deg);margin-left:82px;margin-top: 122px}
}

@keyframes tev {

  0% {transform: rotate(0deg);}
  50% {transform: rotate(22deg); }
  100% {transform: rotate(60deg);margin-left:95px;margin-top: 145px}
}






@keyframes rolik {

  0% {transform: rotate(-10deg);}
  25% {transform: rotate(3deg);}
  50% {transform: rotate(-10deg);}
  75% {transform: rotate(3deg);}
  100% {transform: rotate(-10deg);}
}

/* @keyframes phone {

  0% {margin-left:10px;}
  25% {margin-left:-10px;}
  50% {margin-left:10px;}
  75% {margin-left:-10px;}
  100% {margin-left:10px;}
} */



@media only screen and (max-width:600px){
  .soc_1{
    display:none;
  }
  .soc_2{
    display:block;
  }
  footer{
    bottom:0px;
  }
}
